<div class="panel panel-default" ng-controller="garplyMasterController as masterCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">
            Master View
        </h3>
    </div>
    <div class="panel-body" style="padding: 10px 10px 10px 10px">
        <p><b>Notify using $scope data</b></p>
        <div class="radio" ng-repeat="item in masterCtrl.data">
            <label>
                <input type="radio" name="optionsRadios" id="{{item.id}}" value="{{item.text}}" ng-click="$parent.$parent.$parent.selectedItem = item">
                {{item.text}}
            </label>
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px" />
        <p><b>Notify using $scope events</b></p>
        <p>
            <input ng-model="masterCtrl.message" type="text" class="form-control"
                   placeholder="Enter message to send to detail view"
                   style="max-width: none; width: 300px; display: inline-block; margin-right: 5px" />
            <button type="button" class="btn btn-primary" ng-click="masterCtrl.sendMessageToChildView()" ng-disabled="masterCtrl.message.length <= 0">Send</button>
        </p>
    </div>
</div>