@{
    ViewData["Title"] = "Home";
    ViewData["DisplayBackground"] = "background-image: url(/images/background.jpg); background-size: 100%; background-position-y: -100px";
}
<div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>MogularJS</h1>
            <div class="clear"></div>
            <p>
                MogularJs is an built with Typescript, AngularJS, Gulp &amp; ASP.NET Core. It exhibits an architecture to build
                dynamic and modular single page applications with techniques to achieve cohesiveness.
            </p>
            <p>@Html.ActionLink("Learn more", "About", null, null, new { @class = "btn btn-primary btn-lg", role = "button" })</p>
        </div>
    </div>
</div>